<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application android:hardwareAccelerated="true">

        <activity
            android:name=".activity.InterstitialNativeAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:largeHeap="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            tools:ignore="DiscouragedApi, LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.NATIVE_AD_DEBUGGER_ENABLED"
            android:value="false" />
    </application>

</manifest>