<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:name=".AppApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdsHelper20"
        tools:ignore="DiscouragedApi, LockedOrientationActivity"
        tools:targetApi="31">
        <activity
            android:name=".activitys.NativeAdsMediumActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.NativeAdsBigActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.CustomNativeAdsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.BannerUpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.BannerPortraitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StartupActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/splash_screen_theme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/test_admob_app_id" />
    </application>

</manifest>